@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

*,
::before,
::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   /* Primay Color */
   --moderate-cyan: #3cb4ac;
   --dark-cyan: #147b74;

   /* Neutral Color */
   --black: #000000;
   --white: #ffffff;
   --dark-gray: #7a7a7a;
   --light-gray: rgb(122, 122, 122, 0.3);
   --border-color: #dfdbdb;
   --body-bg: #f5f5f5;
   --red: #ff7a7a;

   /* Font */
   --font-fam-commissioner: "Commissioner", sans-serif;
   --font-fam-spacemono: "Space Mono", monospace;
   --font-size-10: 62.5%; /* 10px */
   --font-weight-400: 400;
   --font-weight-500: 500;
   --font-weight-700: 700;

   /* burger line color */
   --burger-line-color: #ffffff;
}

html {
   font-size: var(--font-size-10);
   font-weight: var(--font-weight-400);
   font-family: var(--font-fam-commissioner);
   scroll-behavior: smooth;
}

body {
   display: flex;
   align-items: center;
   justify-content: center;

   font-size: 1.6rem;
   font-weight: var(--font-weight-400);
   color: var(--dark-gray);
   min-width: 32rem;
   max-width: 1440px;
   margin: auto;

   position: relative;
   background: var(--body-bg);
   min-height: 100vh;
}

.overlay {
   transition: all 300ms ease-in-out;
}

.overlay.active {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: var(--black);
   opacity: 0.7;
   z-index: 1;
}

.container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

footer {
   font-family: var(--font-fam-spacemono);
   font-size: 1.4rem;
   padding: 1.5rem 0;
   text-align: center;
}

footer a {
   text-decoration: none;
}

/* ================= ================= ================= ================= */
/*                   header start here mobile first                        */
/* ================= ================= ================= ================= */
.header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   /* padding: 4.5rem 2.5rem 35rem 2.5rem; */

   position: relative;
   width: 100%;
}

@media (min-width: 120px) {
   .header {
      padding: 4.5rem 2.5rem 15rem 2.5rem;
   }
}

@media (min-width: 425px) {
   .header {
      padding: 4.5rem 2.5rem 17rem 2.5rem;
   }
}

@media (min-width: 600px) {
   .header {
      padding: 0rem 1rem 30rem 2.5rem;
   }
}

@media (min-width: 769px) {
   .header {
      padding: 0 1rem 12rem 2.5rem;
   }
}

@media (min-width: 1024px) {
   .header {
      padding: 0 3rem 12rem 7rem;
   }
}

@media (min-width: 1440px) {
   .header {
      padding: 0 12rem 20rem 15rem;
   }
}

/* ================= hero ================= */
.header_hero {
   position: absolute;
   top: 0;
   left: 0;
   z-index: -1;
   width: 100%;
}

.desktop_hero,
.mobile_hero {
   width: 100%;
   height: 100%;
}

.crowdfund_logo_container img:hover {
   cursor: pointer;
   z-index: 1;
}

/* ================= navigation list ================= */
.nav_list {
   display: none;
   position: fixed;
   top: 9rem;
   left: 0;

   width: 100%;
   padding: 2rem 3rem;

   visibility: hidden;
   transition: all 300ms ease-in-out;
   z-index: 3;
}

/* add show & active classes using javascript start here */
.nav_list.show {
   display: block; /* show the display */
   animation: fadeOut 300ms ease-in-out;
   z-index: 2;
}

.nav_list.active {
   visibility: visible;
   animation: fadeIn 300ms ease-in-out;
} /* add show & active classes using javascript end here */

/* triangle pointer */
.pointer {
   position: absolute;
   top: -1rem;
   right: 4rem;
   border: 5rem solid transparent;
   border-top: 0;
   border-bottom: 5rem solid var(--white);
   transform: rotate(-90deg);
   z-index: -1;
}

@media (min-width: 600px) {
   /* triangle pointer */
   .pointer {
      display: none;
   }
}

.nav_list ul {
   background: var(--white);
   border-radius: 1rem;
   width: 100%;
}

.nav_list ul li {
   list-style-type: none;
   font-weight: var(--font-weight-500);
   padding: 2rem 0;
}

.nav_list ul li:nth-last-child(1n + 2):hover,
.nav_list ul li a:hover {
   cursor: pointer;
   background: var(--dark-cyan);
   font-weight: var(--font-weight-700);
}

.nav_list ul li:hover > a {
   color: var(--white);
}

.nav_list ul li:nth-child(1) {
   border-radius: 1rem 1rem 0 0;
   border-bottom: 0.1rem solid var(--border-color);
}

.nav_list ul li:nth-child(3) {
   border-radius: 0 0 1rem 1rem;
   border-top: 0.1rem solid var(--border-color);
}

.nav_list ul li a {
   padding-left: 3rem;
   text-decoration: none;
   color: var(--black);
}

@media (min-width: 600px) {
   .nav_list {
      display: block;
      position: unset;
      width: unset;
      visibility: visible;
      transform: translateX(0%);
   }

   .nav_list ul {
      display: flex;
      flex-direction: row;
      gap: 2rem; /* between each list */

      position: unset;
      background: unset;
   }

   .nav_list ul li {
      font-size: 1.4rem;
   }

   .nav_list ul li:nth-last-child(1n + 2):hover,
   .nav_list ul li a:hover {
      cursor: pointer;
      transform: scale(1.15);
      background: unset;
   }

   .nav_list ul li:nth-child(1) {
      border: none;
   }

   .nav_list ul li:nth-child(3) {
      border: none;
   }

   .nav_list ul li a {
      color: var(--white);
   }
}

/* ================= all about burger is here ================= */
.burger_menu {
   display: flex;
   flex-direction: column;
   gap: 0.3rem; /* between each line */
   z-index: 2;
   height: 1.8rem;
   position: fixed;
   right: 2.5rem;
   caret-color: transparent; /* cursor blinking hide */
}

.burger_menu:hover {
   cursor: pointer;
   transform: scale(1.1);
}

.burger_line {
   width: 3.5rem;
   border: 0.15rem solid var(--burger-line-color);
   transition: all 300ms;
   background-color: var(--burger-line-color);
}

/* add active classes using javascript for burger menu start here */
.line1.active {
   width: 2.4rem;
   transform: rotate(45deg);
   transform-origin: left top;
}

.line2.active {
   display: none;
}

.line3.active {
   margin-top: 1rem;
   width: 2.4rem;
   transform: rotate(-45deg);
   transform-origin: left bottom;
}
/* add active classes using javascript for burger menu end here */

@media (min-width: 600px) {
   .burger_menu {
      display: none;
   }
}

/* ================= ================= ================= ================= */
/*                   main start here mobile first                          */
/* ================= ================= ================= ================= */

.main_content {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 2rem; /* between each section like intro, stats */

   padding: 0 2.5rem;
   width: 100%;
}

@media (min-width: 1024px) {
   .main_content {
      padding: 0 20rem;
   }
}

@media (min-width: 1440px) {
   .main_content {
      padding: 0 35rem;
   }
}

/* ================= intro is here ================= */
.intro {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 2rem; /* between logo, intro_title & desciption */

   background: var(--white);
   border-radius: 1rem;
   width: 100%;
   text-align: center;
   padding: 0 1rem 5rem 1rem;
}

@media (min-width: 1440px) {
   .intro {
      padding: 0 5rem 10rem 5rem;
   }
}

.mastercraft_logo {
   margin-top: -2.5rem;
}

.intro_title {
   color: var(--black);
   font-weight: var(--font-weight-700);
}

.intro_description {
   font-size: 1.4rem;
   line-height: 2.5rem;
   padding-bottom: 2rem;
}

/* ================= back this project & bookmark button ================= */
.back_bookmark_btn_container {
   display: grid;
   grid-template-columns: 1fr auto;
   grid-gap: 1rem; /* between back & bookmark button */
   align-items: center;

   width: 100%;
   padding: 0 2rem;
}

.btn {
   display: flex;
   align-items: center;
   border: none;
   border-radius: 5rem;

   color: var(--white);
   font-weight: var(--font-weight-700);
   letter-spacing: 0.1rem;

   width: 100%;
   transition: all 300ms ease-in-out;
   outline: none;
   cursor: pointer;
}

.back_btn {
   justify-content: center;
   width: 15rem;
   background: var(--moderate-cyan);
   padding: 2rem;
}

.back_btn:hover {
   background: var(--dark-cyan);
   transform: scale(1.015);
}

@media (min-width: 370px) {
   .back_btn {
      width: 20rem;
   }
}

.bookmark_btn {
   display: flex;
   border: none;
   gap: 1rem; /* between circle & bookmark_text */
}

/* add active classes using javascript */
.bookmark_btn.active {
   background: #f4f8f9;
}

@media (min-width: 600px) {
   .bookmark_btn {
      width: 17rem;
   }
}

.bookmark_btn .circle_color {
   fill: var(--dark-gray);
}

.bookmark_btn svg g:hover > circle {
   fill: var(--dark-cyan);
}

/* add active classes using javascript */
.bookmark_btn .circle_color.active {
   fill: var(--dark-cyan);
}

@media (min-width: 600px) {
   .bookmark_btn .circle {
      transform: translateX(0%);
      transition: all 300ms ease-in-out;
   }

   /* add active classes using javascript */
   .bookmark_btn .circle.active {
      transform: translateX(200%);
      transition: all 300ms ease-in-out;
   }
}

.bookmark_btn path {
   fill: var(--white);
}

.bookmark_text,
.ed {
   display: none;
   align-items: center;
   justify-content: center;
   color: var(--dark-gray);
   transform: translateX(0%);
   transition: all 300ms ease-in-out;
   cursor: pointer;
}

@media (min-width: 600px) {
   .bookmark_text {
      display: flex;
      font-weight: var(--font-weight-700);
   }

   /* add active classes using javascript */
   .bookmark_text.active,
   .ed.active {
      display: flex;
      gap: 0.85rem; /* between bookmark & ed */
      font-weight: var(--font-weight-700);
      transform: translateX(-50%);
      transition: all 300ms ease-in-out;
      color: var(--dark-cyan);
   }
}

/* ================= statistics section ================= */
.statistics_container {
   display: flex;
   align-items: flex-start;
   justify-content: center;
   flex-direction: column;
   gap: 2rem; /* between statistics_group & statistics_bar */
   border-radius: 1rem;
   width: 100%;

   background: var(--white);
   text-align: center;
   padding: 5rem;
}

.statistics_group {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 2rem; /* between each stats */
   width: 100%;
}

@media (min-width: 600px) {
   .statistics_group {
      flex-direction: row;
   }

   .statistics_group .stats:nth-child(1) {
      align-items: flex-start;
      width: 100%;
   }

   .statistics_group .stats:nth-child(2) {
      width: 100%;
      align-items: center;
      border-left: 0.2rem solid var(--light-gray);
      border-right: 0.2rem solid var(--light-gray);
   }

   .statistics_group .stats:nth-child(3) {
      width: 100%;
      padding-left: 3rem;
      align-items: flex-start;
   }
}

.stats {
   display: flex;
   flex-direction: column;
   gap: 0.5rem; /* between total & stat_details */
}

.stat_total,
.stat_days_left {
   font-size: 3.5rem;
   font-weight: var(--font-weight-700);
   color: var(--black);
}

.stats_details {
   font-weight: var(--font-weight-500);
}

.statistics_group .stats:nth-child(2) p:nth-child(1) {
   border-top: 0.2rem solid var(--light-gray);
   padding-top: 3rem;
}

.statistics_group .stats:nth-child(2) p:nth-child(2) {
   border-bottom: 0.2rem solid var(--light-gray);
   padding-bottom: 3rem;
}

@media (min-width: 600px) {
   .statistics_group .stats:nth-child(2) p:nth-child(1) {
      border-top: none;
      padding-top: 0;
   }

   .statistics_group .stats:nth-child(2) p:nth-child(2) {
      border-bottom: none;
      padding-bottom: 0;
   }
}

/* ================= progress bar ================= */
.statistics_bar,
.progress_bar {
   border-radius: 1rem;
   height: 1.5rem;
}

.statistics_bar {
   width: 100%;
   background: rgb(244, 248, 249);
   /* background: #f4f8f9; */
}

.progress_bar {
   width: 50%;
   background: var(--moderate-cyan);
}

/* ================= about this project is here ================= */
.about_project {
   display: flex;
   flex-direction: column;
   gap: 3rem; /* between about_project & pledges */
   border-radius: 1rem;
   background: var(--white);
   padding: 5rem 2rem;
   /* width: 100%; */
}

@media (min-width: 600px) {
   .about_project {
      padding: 5rem;
   }
}

.about_project_text {
   display: flex;
   flex-direction: column;
   gap: 3rem; /* between about_project_title, details1 & details2*/
}

.about_project_text > p {
   text-align: justify;
}

.about_project_title {
   color: var(--black);
}

/* ================= about this project pledges is here ================= */
.pledges {
   display: flex;
   flex-direction: column;
   gap: 2rem; /* between each pledge */
   width: 100%;
}

.stand_pledges {
   display: flex;
   flex-direction: column;
   gap: 3rem; /* between title, details & reward */
   border-radius: 1rem;
   border: 0.2rem solid var(--light-gray);
   padding: 3rem;
   width: 100%;
}

.plegde_title {
   display: flex;
   flex-direction: column;
   gap: 0.75rem; /* title & pledge_or_more */
   color: var(--black);
   width: 100%;
}

@media (min-width: 600px) {
   .plegde_title {
      flex-direction: row;
      justify-content: space-between;
   }
}

.pledge_or_more {
   font-size: 1.5rem;
   font-weight: var(--font-weight-500);
   color: var(--moderate-cyan);
}

.pledge_details {
   text-align: justify;
}

.pledge_reward {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 1.5rem; /* between days left & select_reward_btn */
}

@media (min-width: 600px) {
   .pledge_reward {
      flex-direction: row;
      justify-content: space-between;
      gap: 15rem; /* between days left & select_reward_btn */
      width: 100;
   }
}

.pledge_days_count {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 1rem;
   font-size: 3.5rem;
   font-weight: var(--font-weight-700);
   color: var(--black);
}

.select_btn_container {
   display: flex;
   justify-content: flex-start;
   width: 100%;
}

@media (min-width: 600px) {
   .select_btn_container {
      justify-content: flex-end;
   }
}

.pledge_days_left {
   font-size: 1.6rem;
   font-weight: var(--font-weight-500);
   color: var(--dark-gray);
}

.select_reward_btn,
.mahogany_reward_btn,
.continue_btn,
.got_it_btn {
   padding: 1.5rem 3.5rem;
   border: none;
   border-radius: 3rem;
   background: var(--moderate-cyan);
   color: var(--white);
   font-weight: var(--font-weight-700);
   letter-spacing: 0.1rem;
   transition: all 300ms ease-in-out;
}

.bamboo_reward_btn:hover,
.black_edition_reward_btn:hover,
.no_reward_btn:hover {
   background: var(--dark-cyan);
   transform: scale(1.015);
   cursor: pointer;
}

.mahogany_edition_stand_pledge {
   filter: opacity(0.5);
   cursor: default;
}

.mahogany_reward_btn {
   padding: 1.5rem 4.5rem;
   background: var(--dark-gray);
   cursor: default;
}

/* ================= all about animation ================= */
@keyframes fadeIn {
   0% {
      opacity: 0;
      transform: translateY(6rem);
   }
   100% {
      opacity: 1;
      transform: translateY(0);
   }
}

@keyframes fadeOut {
   0% {
      opacity: 1;
      transform: translateY(0);
   }
   100% {
      opacity: 0;
      transform: translateY(6rem);
   }
}

/* ================= all about scroll up arrow ================= */
.scroll_up {
   display: none;
   position: fixed;
   bottom: 4rem;
   right: 1.5rem;
   z-index: 999;
}

.scroll_up.active {
   display: block;
}

.arrowUp {
   display: flex;
   flex-direction: column;
   align-items: center;
   color: var(--moderate-cyan);
   font-size: 2rem;
   font-weight: var(--font-weight-500);
}

.arrowUp:hover {
   cursor: pointer;
   transform: scale(1.2);
}

.arrow_head {
   border: 2.5rem solid transparent;
   border-top: 0;
   border-bottom: 2.5rem solid var(--moderate-cyan);
}

.arrow_base {
   height: 1.5rem;
   width: 2rem;
   background: var(--moderate-cyan);
}
